/* -----General----- */

.btn-div {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: row;
  /* padding: 1em; */
}

.btn-div button {
  margin: 1em;
}

.section-title {
  font-size: 1.5em;
  font-weight: bold;
}

.section-subtitle {
  font-size: 1.3em;
  font-weight: bold;
}

/* -----Game Score Box----- */

.total-score-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0.5em; */
}

.score-box-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* padding: 0.5em; */
}

.score-box-content-item {
  /* border: solid black 1px; */
  padding: 0.5em;
  margin: 0.5em;
}

/* -----Dice Roll----- */

.active-player-title {
  font-size: 1em;
  font-weight: bold;
}

.dice-roll-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 1em;
}

.dice-roll {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin: 1em;
}

.dice-roll-outline {
  border: solid black 1px;
  height: 100%;
  width: 100%;
  /* padding: 1em; */
  /* margin: 1em; */
}

.dice-roll-item {
  height: 100%;
  width: 100%;
}

.dice-roll-item-title {
  font-size: 1.5em;
  font-weight: bold;
}

.dice-image {
  width: 100%;
  height: 100%;
  /* margin: 0.5em; */
}

/* -----Game Status----- */

.game-status-content-item-title {
  font-size: 1em;
  font-weight: bold;
}

/* -----Score Card----- */

.score-card-totals {
  margin: 1em;
}

.score-card-totals-title {
  padding: 0.5em;
  font-size: 1em;
  font-weight: bold;
}
